+sliderComponents({
    title: 'Delicious', 
    caption: 'About Us',
    imgSub: "../images/Home/bg-sub.webp"
})

section.fresh.section-padding
  .container
    .fresh-content
      .fresh-img
        img(src= "./images/Home/fresh-1.webp")
      .section-caption
        .row
          .section-title
            h3 Fresh Delicious
            h2 A Simple Way to Eating Delicious
          .fresh-title
            p Land behold it created good saw after she'd Our set living. Signs midst dominion creepeth morning laboris nisi ufsit aliquip ex ea commodo conse quat is aute irure, quis nostrud exer.
          .btn.fresh-btn 
            a(href="#!") Our story
  .fresh-subImg
    img(src= "./images/Home/fresh-2.webp")