+sliderComponents({
    title: 'Delicious', 
    caption: 'Our Products',
    imgSub: "../images/Home/bg-sub.webp"
})

section.popular.section-padding#popular-product
  .container 
    +sectionCaption("Most Popular", "Our Exclusive Cakes")
    .popular-container
      .popular-content 
        .popular-carousel.cursor-carousel 
          +popularItems({
            img: "../images/Home/popular-1.webp",
            alt: "Chocolate",
            title: "Chocolate",
            btn: "$20 I Order Now"
          })
          +popularItems({
            img: "../images/Home/popular-2.webp",
            alt: "Sweetheart",
            title: "Sweetheart",
            btn: "$25 I Order Now"
          })
          +popularItems({
            img: "../images/Home/popular-3.webp",
            alt: "Blackforest",
            title: "Blackforest",
            btn: "$30 I Order Now"
          })
          +popularItems({
            img: "../images/Home/popular-3.webp",
            alt: "Blackforest",
            title: "Blackforest",
            btn: "$35 I Order Now"
          })
          +popularItems({
            img: "../images/Home/popular-2.webp",
            alt: "Sweetheart",
            title: "Sweetheart",
            btn: "$28 I Order Now"
          })
          +popularItems({
            img: "../images/Home/popular-1.webp",
            alt: "Chocolate",
            title: "Chocolate",
            btn: "$40 I Order Now"
          })
          +popularItems({
            img: "../images/carousel-1.webp",
            alt: "Blackforest",
            title: "Blackforest",
            btn: "$40 I Order Now"
          })
          +popularItems({
            img: "../images/carousel-2.webp",
            alt: "Sweetheart",
            title: "Sweetheart",
            btn: "$45 I Order Now"
          })
          +popularItems({
            img: "../images/carousel-3.webp",
            alt: "Chocolate",
            title: "Chocolate",
            btn: "$49 I Order Now"
          })