.owl
  .owl-carousel.cursor-carousel
    +owlItem("./images/carousel-1.webp")(class="fa-twitter")
    +owlItem("./images/carousel-2.webp")(class="fa-instagram")
    +owlItem("./images/carousel-3.webp")(class="fa-linkedin-in")
    +owlItem("./images/carousel-4.webp")(class="fa-facebook-f")
    +owlItem("./images/carousel-3.webp")(class="fa-instagram")
    +owlItem("./images/carousel-2.webp")(class="fa-twitter")
    +owlItem("./images/carousel-1.webp")(class="fa-facebook-f")
    +owlItem("./images/carousel-4.webp")(class="fa-linkedin-in")


