.header {
	position: fixed;
	inset: 0 0 auto;
	background: $secondary-color;
	z-index: 99;
	&-scroll {
		animation: scrollHeightNav 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
		// overflow: hidden;
		box-shadow: 0 0 5px 5px rgba($color: #000000, $alpha: 0.3);
		@keyframes scrollHeightNav {
			0% {
				height: 0px;
			}

			100% {
				height: clamp(44px, calc(2.8rem + 5vw), 80px);
			}
		}
	}

	&-area {
		position: relative;
		@include flexBox(center, space-between);
		font-size: 1.6rem;
		font-family: $secondary-font;
	}

	&-left {
		@include flexBox(center);
	}

	&-list {
		@include flexBox(center);
	}

	&-items {
		position: relative;
		padding-block: 2.8rem;
		cursor: pointer;
		&:hover {
			visibility: unset;
			.header-blog {
				opacity: 1;
				visibility: unset;
				transition: all 0.4s cubic-bezier(0.64, 0.29, 0.92, 0.37);
			}
			.header-link {
				color: $primary-color;
				transition: color 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
				&::after {
					transition: width 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
				}
			}
		}
	}

	&-link {
		list-style: none;
		color: $fourth-color;
		font-weight: 400;
		text-decoration: none;
		transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
		&::after {
			content: '';
			position: absolute;
			inset: auto auto 0 0;
			width: 0%;
			height: 3px;
			background-color: $primary-color;
			transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		}
	}

	&-blog {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transform: translate3d(1.1rem, 0, 0);
		padding-block: 2rem;
		z-index: 99;
		background-color: $primary-color;
		transition: all 0.4s cubic-bezier(0.64, 0.29, 0.92, 0.37);

		&_list {
			color: $secondary-color;
			padding: 2rem 6rem 2rem 1rem;
		}
	}

	&-inf {
		color: $primary-color;
		font-weight: 300;
		i {
			transform: rotate(0deg);
			transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			margin-right: 0.5rem;
		}
		&:hover i {
			transform: rotate(15deg);
			transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
	}

	@include minWidth(1024px) {
		& {
			padding-inline: 3rem;
		}
		&-link {
			padding: 3rem 1.5rem;
		}
	}

	@include minWidth(768px) {
		// overflow: hidden;

		&-brand {
			img {
				margin-right: 3.3rem;
			}
		}
		&-list,
		&-items {
			opacity: 1 !important;
			transform: translate(0, 0) !important;
		}
		&-items {
			// padding-inline: 1.5rem;
			&:not(:last-child) {
				margin-right: 1.3rem;
			}
			&:hover {
				.header-link::after {
					width: 70%;
				}
				.header-blog {
					transform: translate3d(1.1rem, 10px, 0);
				}
			}
		}
		&-link::after {
			transform: translateX(25%);
		}
		&-blog {
			top: 88%;
			left: 0;
			padding-inline: 0.8rem;
			li {
				padding-block: 0.5rem;
				width: 156px;
				transform: translate3d(0, 0, 0);
				transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
				&:hover {
					transform: translate3d(0.8rem, 0, 0);
					transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
				}
			}
		}
		&-btn {
			padding: 1.3rem 3.7rem;
			box-shadow: none;
			font-family: $secondary-font;
		}
		&-inf {
			margin-right: 1vw;
		}
		&-menu {
			display: none;
		}
	}

	@include minMaxWidth(768px, 992px) {
		&-brand {
			width: 12rem;
		}
		&-right {
			text-align: right;
		}
	}

	@include maxWidth(767px) {
		&-list {
			position: absolute;
			top: 50%;
			left: 0;
			display: flex;
			flex-direction: column;
			opacity: 0;
			transform: translate3d(100%, -80%, 0);
			@include size(100%, calc(60rem + 10vh));
			margin-top: 2.24rem;
			text-align: center;
			background-color: #fff;
			transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			box-shadow: 0px 10px 30px -15px rgba($color: #000000, $alpha: 0.5);
			z-index: 99;
		}
		&-area {
			position: unset;
		}
		&-brand {
			img {
				width: 14rem;
				margin-right: 0;
			}
		}
		&-items {
			margin-inline: 2rem;
			padding-inline: 10rem;
			opacity: 0;
			&:first-child {
				padding-top: 2rem;
			}
			&:last-child {
				padding-bottom: 2rem;
			}
			&:hover {
				.header-link::after {
					width: 50%;
				}
				.header-blog {
					transform: translate3d(0%, 30%, 0);
				}
			}
		}
		&-link {
			font-family: $third-font;
			font-size: clamp(4rem, 2vw, 7rem);
			&::after {
				transform: translateX(50%);
			}
		}
		&-blog {
			top: -10%;
			left: 75%;
			padding: 0 !important;
			li {
				padding-block: 0.5rem;
				width: 171px;
			}
			&_list {
				font-size: 2rem;
				font-family: $third-font;
			}
		}
		&-btn {
			padding: 2.3rem 0.7rem;
			position: absolute;
			top: 50%;
			left: calc(47vw + 10vw);
			font-size: clamp(1.2rem, 3vw, 3rem);
			transform: translate3d(95%, 50%, 10px);
			font-family: $third-font;
			z-index: 99;
		}
		&-right {
			padding: 1rem 0;
		}
		&-inf {
			font-size: clamp(1.5rem, 3vw, 2.2rem);
			font-family: $third-font;
			margin-right: 0;
		}
		&-menu {
			position: absolute;
			top: 50%;
			font-size: clamp(3rem, 2vw, 4rem);
			background: $primary-color;
			color: #fff;
			box-shadow: 0 10px 22px 5px rgba($color: $primary-color, $alpha: 0.2);
			border: transparent;
			z-index: 99;
			&_close {
				opacity: 0;
				transform: translate(0, 70%);
				padding: 1rem;
			}
			&_open {
				top: 45%;
				transform: translate(0, 90%);
				padding: 1rem;
			}
		}
	}

	@include maxWidth(576px) {
		&-brand img {
			width: 10rem;
		}
		&-list {
			margin-top: calc(2vw + 10px);
		}
		&-items {
			margin-bottom: unset;
			padding-inline: 4rem;
		}
		&-link {
			font-size: clamp(3.5rem, 8vw, 4rem);
		}
		&-btn {
			padding: 1.3rem 0.7rem;
			top: 50%;
			left: calc(40vw + 10vw);
			font-size: clamp(1.2rem, 4vw, 2.5rem);
			transform: translate3d(85%, 55%, 10px);
		}
		&-menu {
			font-size: clamp(2rem, 4vw, 3rem);
			transform: translate(0, 55%);
			top: 65%;
			&_close {
				padding: 1rem;
			}
		}
		&-blog {
			top: -10%;
			left: 77%;
			li {
				width: 158px;
				padding: 5px 0 !important;
			}
			&_list {
				font-size: 2rem;
				padding: 2rem 4rem 2rem 3rem;
			}
		}
		&-inf {
			font-size: clamp(1.5rem, 2vw, 2.5rem);
		}
	}
}
