$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Quicksand', sans-serif;
$third-font: 'Lobster', cursive;

$text-color: #000;
$secondary-color: #fff;
$primary-color: #ef4406;
$fourth-color: #5e5e5e;
$fifth-color: #391f14;
$sixth-color: #001f38;
$body-color: #212529;
$slider-color: rgba(240, 69, 6, 0.06);
$titleBlog-color: #2d2d2d;
$textBlog-color: #999;
$paginationBlog-color: #8a8a8a;
$whiteBold-color: rgb(255, 245, 242);

$text-font: 1.6rem;
$title-font: 2.2rem;
$titleXL-font: 3.4rem;

$wrapper: 1920px;
