footer.footer
  .footer-top
    .container
        .row
            .col-lg-4.col-md-6.col-sm-12
                .footer-items
                    a(href= 'index.html').footer-brand
                        img(src= "./images/footer-brand.webp")
                    p.footer-text_first Land behold it created good saw after she'd Our set living. Signs midst dominion creepeth morning laboris nisi ufsit aliquip.
                    .footer-icon
                        i.fab.fa-twitter-square
                        i.fab.fa-facebook-square
                        i.fab.fa-linkedin
                        i.fab.fa-pinterest-square
            .col-lg-2.col-md-6.col-sm-12
                .footer-items
                    h4 Quick Links
                    ul.footer-list
                      li
                        a(href= "#!").footer-list_items Home
                      li
                        a(href= "#!").footer-list_items About
                      li
                        a(href= "#!").footer-list_items Services
                      li
                        a(href= "#!").footer-list_items Blog
                      li
                        a(href= "#!").footer-list_items Contact
            .col-lg-2.col-md-6.col-sm-12    
                .footer-items
                    h4 Cakes
                    ul.footer-list
                      li
                        a(href= "#!").footer-list_items Blackforest
                      li
                        a(href= "#!").footer-list_items Bodhubon
                      li
                        a(href= "#!").footer-list_items Rongdhonu
                      li
                        a(href= "#!").footer-list_items Meghrong
            .col-lg-4.col-md-6.col-sm-12    
                .footer-items
                    h4 Contact Us
                    p.footer-text_last 76/A, Green Lane, Dhanmondi, NYC
                    a(href= "#!").footer-inf +10 (78) 738-9083
  .footer-bottom
    .container      
        .row
            .footer-copyright.footer-items
              p Copyright ©2021 All rights reserved | This template is made with 
                <i class="fas fa-heart-broken"></i> by 
                a(href= "#!") Colorlib

