section.our.section-padding
  .container
    .row
        +sectionCaption("Our Features", "Quality is Our First Priority")
    .row
        .our-container
            +ourItems("./images/Home/our-icon1.svg")
            +ourItems("./images/Home/our-icon2.svg")
            +ourItems("./images/Home/our-icon3.svg")

.video
  .container-fuild
    .video-container
      .video-link
        a(href="https://www.youtube.com/watch?v=k3TW2FNmphw")
          <i class="fas fa-play video-icon"></i>
