section.popular.section-padding#popular-home
  .container 
    +sectionCaption("Most Popular", "Our Exclusive Cakes")
    .popular-container
      .popular-content 
        .popular-carousel.cursor-carousel 
          +popularItems({
            img: "../images/Home/popular-1.webp",
            alt: "Chocolate",
            title: "Chocolate",
            btn: "$20 I Order Now"
          })
          +popularItems({
            img: "../images/Home/popular-2.webp",
            alt: "Sweetheart",
            title: "Sweetheart",
            btn: "$25 I Order Now"
          })
          +popularItems({
            img: "../images/Home/popular-3.webp",
            alt: "Blackforest",
            title: "Blackforest",
            btn: "$30 I Order Now"
          })
          +popularItems({
            img: "../images/Home/popular-3.webp",
            alt: "Blackforest",
            title: "Blackforest",
            btn: "$35 I Order Now"
          })
          +popularItems({
            img: "../images/Home/popular-2.webp",
            alt: "Sweetheart",
            title: "Sweetheart",
            btn: "$28 I Order Now"
          })
          +popularItems({
            img: "../images/Home/popular-1.webp",
            alt: "Chocolate",
            title: "Chocolate",
            btn: "$40 I Order Now"
          })
          
section.fresh.section-padding
  .container
    .fresh-content
      .fresh-img
        img(src= "./images/Home/fresh-1.webp")
      .section-caption
        .row
            .section-title
                h3 Fresh Delicious
                h2 A Simple Way to Eating Delicious
            .fresh-title
                p Land behold it created good saw after she'd Our set living. Signs midst dominion creepeth morning laboris nisi ufsit aliquip ex ea commodo conse quat is aute irure, quis nostrud exer.
            .btn.fresh-btn 
                a(href="#!") Our story
  .fresh-subImg
    img(src= "./images/Home/fresh-2.webp")

