section.slider#slider-home
  .slider-container 
    .container 
      .row
        +sliderContent({
          title: 'Delicious', 
          caption: 'Delicious Cake For Everyon',
          desc: "Land behold it created good saw after she'd Our set living. Signs midst dominion creepeth morning",
          imgSub: "../images/Home/bg-sub.webp"
        })