section.testi
    .container
        .row
            +sectionCaption("Testimonial", "What Customers Say")
        .row
            .testi-container
                .testi-content.cursor-carousel
                    +testiItems("./images/Home/testi-1.webp")
                    +testiItems("./images/Home/testi-2.webp", "David")
                    +testiItems("./images/Home/testi-2.webp", "John")
