extends pages/layout

block vars
    -title = 'Welcomes to Gulp Template workflow'
    -bodyClass = 'home-page'

block container
    include layout/Home/slider
    include layout/Home/popular&Fresh
    include layout/Home/ourVideo
    include layout/Home/testi
    include components/button
    

