.blog {
	padding-top: 12rem;
	&-items {
		margin-bottom: 5rem;
		box-shadow: 0 6px 20px -15px #000;
	}
	&-img {
		position: relative;
		z-index: 9;
		img {
			width: 100%;
		}
	}
	&-date {
		position: absolute;
		bottom: 0;
		padding: 0.8rem 3rem;
		border-radius: 5px;
		transform: translate3d(45%, 25%, 0);
		transform-origin: right top;
		background-image: linear-gradient(
			to top right,
			hsl(16, 90%, 50%),
			hsl(0, 65%, 67%)
		);
		transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
		z-index: 10;

		h3 {
			font-weight: 600;
			line-height: 1.2;
			@include fzClr($titleXL-font, -0.4rem, $secondary-color);
		}
		p {
			margin-bottom: 0.5rem;
			@include fzClr($text-font, 0.2rem, $secondary-color);
		}
	}
	&-content {
		padding: 5.5rem 3.5rem 4rem;
		h2 a {
			font-weight: 600;
			fill-opacity: $body-color;
			@include fzClr($title-font, 0.2rem, #2d2d2d);
		}
		p {
			margin: 1rem 0;
			@include fzClr($text-font, 0, $text-color);
		}
	}
	&-inf {
		display: flex;
		flex-direction: row;
		padding: 2rem 0;
		li {
			margin-right: 1rem;
			a {
				display: flex;
				flex-direction: row-reverse;
				align-items: baseline;
				@include fzClr($text-font, -0.2rem, $textBlog-color);
				margin-right: 1rem;
			}
			i {
				margin-right: 1rem;
			}
			&:first-child {
				border-right: 1px solid $textBlog-color;
			}
		}
	}
	&-right {
		padding: 1rem 1.7rem;
		:is(.blog-form, .blog-category, .blog-post, .blog-tag, .blog-feed) {
			background-color: #fbf9ff;
			margin-bottom: 3rem;
			padding: 2.5rem;
			@include maxWidth(767px) {
				padding-inline: 1rem;
			}
		}
		:is(h4) {
			@include fzClr($title-font, -0.2rem, $titleBlog-color);
			font-weight: 400;
			padding-bottom: 1rem;
			margin-bottom: 4rem;
			border-bottom: 1px solid #f0e9ff;
		}
	}
	&-form {
		:is(.btn) {
			box-shadow: unset;
			border-radius: unset;
		}
		&_control {
			@include flexBox();
			padding-bottom: 1rem;
		}
		&_input {
			padding-left: 2rem;
			flex: 1 1 auto;
			border: 1px solid #ced4da;
			&::placeholder {
				color: $textBlog-color;
			}
			&:focus {
				&::placeholder {
					opacity: 0;
				}
			}
		}
		&_btn {
			padding: 2rem;
		}
	}

	&-category {
		&_list {
			padding-bottom: 0.2rem;
			margin-bottom: 1.2rem;
			font-weight: 300;
			border-bottom: 1px solid #f0e9ff;
			&:hover {
				p {
					color: $primary-color;
				}
			}
		}
		&_link {
			display: flex;
			p {
				@include fzClr($text-font, 0, $text-color);
			}
		}
	}
	&-post {
		&_list {
			@include flexBox(flex-end);
			gap: 0 2rem;
			margin-bottom: 2rem;
		}
		&_content {
			&:hover {
				@include bg(transparent, $primary-color);
			}
			h3 a {
				@include fzClr($text-font, 0, $titleBlog-color);
				@include textClamp;
				font-weight: 400;
				margin-bottom: 0.5rem;
			}
			p {
				@include fzClr($text-font, -0.2rem, $text-color);
			}
		}
	}
	&-tag {
		ul {
			@include flexBox(stretch, flex-start, row, flex, wrap);
			gap: 1.5rem;
		}
		&_list {
			border: 1px solid rgba(201, 192, 192, 0.533);
			margin-bottom: 0.2rem;
			padding-inline: 1.5rem;
			&:hover {
				@include bg();
			}
		}
		&_link {
			@include fzClr($text-font, -0.3rem, #8888);
			font-weight: 500;
		}
	}
	&-feed {
		ul {
			@include flexBox(stretch, center, row, flex, wrap);
			gap: 1.8rem;
			@include maxWidth(767px) {
				column-gap: 1.2rem;
			}
		}
	}
	&-notBtn {
		.blog-form_input {
			padding: 1.5rem 2rem;
		}
	}
	@include maxWidth(992px) {
		padding-top: 0;
	}
}
